{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
<div class="panel panel-default" style="width:40%;margin:auto;margin-top:10px;">
<div class="panel-body" >
<form class="form-horizontal" role="form" method="post" action="/signup/">
{%csrf_token%}
{% if warning%}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Warning!</strong> {{msg}}
</div>
{%endif%}
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-9">
      <input type="email" class="form-control" id="email" placeholder="abc@xyz.com" name="email" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="fname" class="col-sm-3 control-label">First Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="fname" placeholder="John" name="fname" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="lname" class="col-sm-3 control-label">Last Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="lname" placeholder="Doe" name="lname" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="password" placeholder="Password" name="pass" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="rpassword" class="col-sm-3 control-label">Retype Password</label>
    <div class="col-sm-9">
      <input type="password" class="form-control" id="rpassword" placeholder="Retype Password" name="rpass" required>
    </div>
  </div>
  
    <div class="form-group">
    <label for="ph" class="col-sm-3 control-label">Ph.No.</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="ph" placeholder="456231523" name="ph" required>
    </div>
  </div>
  
    <div class="form-group">
    <label for="add" class="col-sm-3 control-label">Address</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="add" placeholder="50/30 King Street" name="add" required>
    </div>
  </div>
  
    <div class="form-group">
    <label for="city" class="col-sm-3 control-label">City</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="city" placeholder="Manhattan" name="city" required>
    </div>
  </div>
  
  <div class="form-group">
    <label for="rpassword" class="col-sm-3 control-label">Gender</label>
    <div class="col-sm-9"><label>
      <input type="radio" name="gender" value="male" checked/> Male</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="radio" name="gender" value="female"/> Female</label>
    </div>
  </div>
  
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10" >
      <button type="submit" class="btn btn-success btn-lg">Submit</button>
	  <button type="submit" class="btn btn-primary btn-lg" onclick="location.href='/login/'">Sign IN</button>
    </div>
  </div>
</form>
</div>
</div>
</div>
{% endblock %}


